h1 {
 	font-family:Impact;
	color:MediumVioletRed;
	font-size:40px;
	background-color:MidnightBlue;
	border-style:solid; 
	border-color:green;
	font-weight:normal;
	font-variant: small-caps;
}
html{
	background-color:MediumTurquoise;
	border-style:dotted;
	border-width:25px;
	border-color: Navy;
	background-image:url(https://www.at-bristol.org.uk/assets/images/blog/night%20bridge_joe%20dunckley.jpg)
}
h2 {
	font-family:ComicSansMS;
	color:DarkMagenta;
	font-size:30px;
	background-color:MediumTurquoise;
	font-weight:bold;
}
p1{
	font-family:ComicSansMS;
	color:DarkMagenta;
	font-size:25px;
	background-color:MediumTurquoise;
	font-style:italic;
}
	
nav{
	font-family:ComicSansMS;
	color:MidnightBlue;
	font-size:20px;
	background-color:Snow;
}
footer{
	font-family:Rockwell;
	color:DarkMagenta;
	font-size:15px;
	background-color:MediumTurquoise;
}
body{
	border-style: groove;
	border-color: HotPink;
	border-width:10px;
	
}
main{
	border-style:double;
	border-color:MediumVioletRed;
}
/*Requirements

*Create a new file called "main.css"
*Add a link element to the head of your index.html file
<link rel="stylesheet" href="main.css" type="text/css">
*Edit the main.css file
*add a declaration for each element in the body of your index.html file.
*add properties to style the background color of each element.
*add properties to style the border of each element.
*add properties to style the font of each element.
*View your index.html in the development server.
*Validate your index.html file.
*Validate your main.css file.
*Copy this list of requirements and paste it into your "main.css" file as a css comment. Put an asterisk in front of each one that you did.
*Upload to the production server with sftp.
*View your index.html in the production server.*/
