nav{
	width:200px;
	float:left;
	
}
main{
	margin-left:201px;
	border-style:solid;
	width:1000px;
	clear:right;
	overflow:auto;
}
header{
	color: Turquoise;
}
html{
	background-image:url("images/bgg.png");
}
body{
	background-color: white;
	margin-left: 30px;
	margin-right: 30px;
}
footer{
	clear:both;
}
img{
	width:250px;
	height:200px;
	float:right;
}
p{
	overflow:auto;
	margin-right:500px;
}
ol{
	list-style-type:none;
}
main ol{
	border-style:solid;
}
ul{
	margin-left:100px;
}
